PROJECT_NAME="GenesisConnect API"
ENVIRONMENT=development
API_V1_STR=/api/v1
BACKEND_PORT=8000
BACKEND_HOST=0.0.0.0
CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]

# Database URL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/genesisconnect

# JWT Auth
SECRET_KEY=e839e99a81f879cf1b70d440adbb847e113a3721344da0c0a3793740e7cbda4e
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Initial Admin
FIRST_SUPERADMIN_EMAIL=admin@genesispower.in
FIRST_SUPERADMIN_PASSWORD=AdminSecurePassword123!

# Supabase Storage
SUPABASE_URL=https://xyzcompany.supabase.co
SUPABASE_KEY=eyJh...
SUPABASE_STORAGE_BUCKET_PRODUCT_IMAGES=product-images
SUPABASE_STORAGE_BUCKET_PRODUCT_DOCS=product-datasheets
SUPABASE_STORAGE_BUCKET_REQUIREMENTS=requirement-documents
